[Desktop Entry]
Name=Sober (NVIDIA)
Exec=flatpak run --env=__NV_PRIME_RENDER_OFFLOAD=1 --env=__GLX_VENDOR_LIBRARY_NAME=nvidia org.vinegarhq.Sober
Icon=org.vinegarhq.Sober
Type=Application
Categories=Game;
